﻿
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

    .navbar a {
        float: left;
        text-align: center;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar a:hover {
            background-color: #000;
        }

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}
#Area{
    position:absolute;
    top:500px;
    left:400px;

}
input[type="submit"] {
    position: relative;
    bottom: 100px;
    left:120px;
    margin-top: 100px;
    width: 500px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

